Source_Code/FlightSystem_ETL/src/META-INF/wsdl/FlightSystemDWSOA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://WS/" name="FlightSystem_DW_SOA" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WS/" schemaLocation="FlightSystemDWSOA_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="salvaCidades">
    <part name="parameters" element="tns:salvaCidades"/>
  </message>
  <message name="salvaCidadesResponse">
    <part name="parameters" element="tns:salvaCidadesResponse"/>
  </message>
  <message name="salvaContinete">
    <part name="parameters" element="tns:salvaContinete"/>
  </message>
  <message name="salvaContineteResponse">
    <part name="parameters" element="tns:salvaContineteResponse"/>
  </message>
  <message name="salvaContinetes">
    <part name="parameters" element="tns:salvaContinetes"/>
  </message>
  <message name="salvaContinetesResponse">
    <part name="parameters" element="tns:salvaContinetesResponse"/>
  </message>
  <message name="salvaEscala">
    <part name="parameters" element="tns:salvaEscala"/>
  </message>
  <message name="salvaEscalaResponse">
    <part name="parameters" element="tns:salvaEscalaResponse"/>
  </message>
  <message name="salvaEscalas">
    <part name="parameters" element="tns:salvaEscalas"/>
  </message>
  <message name="salvaEscalasResponse">
    <part name="parameters" element="tns:salvaEscalasResponse"/>
  </message>
  <message name="salvaCiaAerea">
    <part name="parameters" element="tns:salvaCiaAerea"/>
  </message>
  <message name="salvaCiaAereaResponse">
    <part name="parameters" element="tns:salvaCiaAereaResponse"/>
  </message>
  <message name="salvaPais">
    <part name="parameters" element="tns:salvaPais"/>
  </message>
  <message name="salvaPaisResponse">
    <part name="parameters" element="tns:salvaPaisResponse"/>
  </message>
  <message name="salvaPaises">
    <part name="parameters" element="tns:salvaPaises"/>
  </message>
  <message name="salvaPaisesResponse">
    <part name="parameters" element="tns:salvaPaisesResponse"/>
  </message>
  <message name="salvaSlot">
    <part name="parameters" element="tns:salvaSlot"/>
  </message>
  <message name="salvaSlotResponse">
    <part name="parameters" element="tns:salvaSlotResponse"/>
  </message>
  <message name="salvaSlots">
    <part name="parameters" element="tns:salvaSlots"/>
  </message>
  <message name="salvaSlotsResponse">
    <part name="parameters" element="tns:salvaSlotsResponse"/>
  </message>
  <message name="salvaVooHistorico">
    <part name="parameters" element="tns:salvaVooHistorico"/>
  </message>
  <message name="salvaVooHistoricoResponse">
    <part name="parameters" element="tns:salvaVooHistoricoResponse"/>
  </message>
  <message name="salvaVooHistoricos">
    <part name="parameters" element="tns:salvaVooHistoricos"/>
  </message>
  <message name="salvaVooHistoricosResponse">
    <part name="parameters" element="tns:salvaVooHistoricosResponse"/>
  </message>
  <message name="salvaCiaAereas">
    <part name="parameters" element="tns:salvaCiaAereas"/>
  </message>
  <message name="salvaCiaAereasResponse">
    <part name="parameters" element="tns:salvaCiaAereasResponse"/>
  </message>
  <message name="salvaCidade">
    <part name="parameters" element="tns:salvaCidade"/>
  </message>
  <message name="salvaCidadeResponse">
    <part name="parameters" element="tns:salvaCidadeResponse"/>
  </message>
  <message name="salvaAeroporto">
    <part name="parameters" element="tns:salvaAeroporto"/>
  </message>
  <message name="salvaAeroportoResponse">
    <part name="parameters" element="tns:salvaAeroportoResponse"/>
  </message>
  <message name="salvaAeroportos">
    <part name="parameters" element="tns:salvaAeroportos"/>
  </message>
  <message name="salvaAeroportosResponse">
    <part name="parameters" element="tns:salvaAeroportosResponse"/>
  </message>
  <portType name="FlightSystem_DW_SOA">
    <operation name="salvaCidades">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCidadesRequest" message="tns:salvaCidades"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCidadesResponse" message="tns:salvaCidadesResponse"/>
    </operation>
    <operation name="salvaContinete">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaContineteRequest" message="tns:salvaContinete"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaContineteResponse" message="tns:salvaContineteResponse"/>
    </operation>
    <operation name="salvaContinetes">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaContinetesRequest" message="tns:salvaContinetes"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaContinetesResponse" message="tns:salvaContinetesResponse"/>
    </operation>
    <operation name="salvaEscala">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaEscalaRequest" message="tns:salvaEscala"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaEscalaResponse" message="tns:salvaEscalaResponse"/>
    </operation>
    <operation name="salvaEscalas">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaEscalasRequest" message="tns:salvaEscalas"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaEscalasResponse" message="tns:salvaEscalasResponse"/>
    </operation>
    <operation name="salvaCiaAerea">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCiaAereaRequest" message="tns:salvaCiaAerea"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCiaAereaResponse" message="tns:salvaCiaAereaResponse"/>
    </operation>
    <operation name="salvaPais">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaPaisRequest" message="tns:salvaPais"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaPaisResponse" message="tns:salvaPaisResponse"/>
    </operation>
    <operation name="salvaPaises">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaPaisesRequest" message="tns:salvaPaises"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaPaisesResponse" message="tns:salvaPaisesResponse"/>
    </operation>
    <operation name="salvaSlot">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaSlotRequest" message="tns:salvaSlot"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaSlotResponse" message="tns:salvaSlotResponse"/>
    </operation>
    <operation name="salvaSlots">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaSlotsRequest" message="tns:salvaSlots"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaSlotsResponse" message="tns:salvaSlotsResponse"/>
    </operation>
    <operation name="salvaVooHistorico">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaVooHistoricoRequest" message="tns:salvaVooHistorico"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaVooHistoricoResponse" message="tns:salvaVooHistoricoResponse"/>
    </operation>
    <operation name="salvaVooHistoricos">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaVooHistoricosRequest" message="tns:salvaVooHistoricos"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaVooHistoricosResponse" message="tns:salvaVooHistoricosResponse"/>
    </operation>
    <operation name="salvaCiaAereas">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCiaAereasRequest" message="tns:salvaCiaAereas"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCiaAereasResponse" message="tns:salvaCiaAereasResponse"/>
    </operation>
    <operation name="salvaCidade">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCidadeRequest" message="tns:salvaCidade"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaCidadeResponse" message="tns:salvaCidadeResponse"/>
    </operation>
    <operation name="salvaAeroporto">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaAeroportoRequest" message="tns:salvaAeroporto"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaAeroportoResponse" message="tns:salvaAeroportoResponse"/>
    </operation>
    <operation name="salvaAeroportos">
      <input wsam:Action="http://WS/FlightSystem_DW_SOA/salvaAeroportosRequest" message="tns:salvaAeroportos"/>
      <output wsam:Action="http://WS/FlightSystem_DW_SOA/salvaAeroportosResponse" message="tns:salvaAeroportosResponse"/>
    </operation>
  </portType>
  <binding name="FlightSystem_DW_SOAPortBinding" type="tns:FlightSystem_DW_SOA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="salvaCidades">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaContinete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaContinetes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaEscala">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaEscalas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaCiaAerea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaPais">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaPaises">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaSlot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaVooHistorico">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaVooHistoricos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaCiaAereas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaCidade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaAeroporto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvaAeroportos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FlightSystem_DW_SOA">
    <port name="FlightSystem_DW_SOAPort" binding="tns:FlightSystem_DW_SOAPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

