Source_Code/FlightSystem_ETL/src/META-INF/wsdl/FlightSystemDWSOA_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://WS/" xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="salvaAeroporto" nillable="true" type="tns:salvaAeroporto"/>

  <xs:element name="salvaAeroportoResponse" nillable="true" type="tns:salvaAeroportoResponse"/>

  <xs:element name="salvaAeroportos" nillable="true" type="tns:salvaAeroportos"/>

  <xs:element name="salvaAeroportosResponse" nillable="true" type="tns:salvaAeroportosResponse"/>

  <xs:element name="salvaCiaAerea" nillable="true" type="tns:salvaCiaAerea"/>

  <xs:element name="salvaCiaAereaResponse" nillable="true" type="tns:salvaCiaAereaResponse"/>

  <xs:element name="salvaCiaAereas" nillable="true" type="tns:salvaCiaAereas"/>

  <xs:element name="salvaCiaAereasResponse" nillable="true" type="tns:salvaCiaAereasResponse"/>

  <xs:element name="salvaCidade" nillable="true" type="tns:salvaCidade"/>

  <xs:element name="salvaCidadeResponse" nillable="true" type="tns:salvaCidadeResponse"/>

  <xs:element name="salvaCidades" nillable="true" type="tns:salvaCidades"/>

  <xs:element name="salvaCidadesResponse" nillable="true" type="tns:salvaCidadesResponse"/>

  <xs:element name="salvaContinete" nillable="true" type="tns:salvaContinente"/>

  <xs:element name="salvaContineteResponse" nillable="true" type="tns:salvaContinenteResponse"/>

  <xs:element name="salvaContinetes" nillable="true" type="tns:salvaContinentes"/>

  <xs:element name="salvaContinetesResponse" nillable="true" type="tns:salvaContinentesResponse"/>

  <xs:element name="salvaEscala" nillable="true" type="tns:salvaEscala"/>

  <xs:element name="salvaEscalaResponse" nillable="true" type="tns:salvaEscalaResponse"/>

  <xs:element name="salvaEscalas" nillable="true" type="tns:salvaEscalas"/>

  <xs:element name="salvaEscalasResponse" nillable="true" type="tns:salvaEscalasResponse"/>

  <xs:element name="salvaPais" nillable="true" type="tns:salvaPais"/>

  <xs:element name="salvaPaisResponse" nillable="true" type="tns:salvaPaisResponse"/>

  <xs:element name="salvaPaises" nillable="true" type="tns:salvaPaises"/>

  <xs:element name="salvaPaisesResponse" nillable="true" type="tns:salvaPaisesResponse"/>

  <xs:element name="salvaSlot" nillable="true" type="tns:salvaSlot"/>

  <xs:element name="salvaSlotResponse" nillable="true" type="tns:salvaSlotResponse"/>

  <xs:element name="salvaSlots" nillable="true" type="tns:salvaSlots"/>

  <xs:element name="salvaSlotsResponse" nillable="true" type="tns:salvaSlotsResponse"/>

  <xs:element name="salvaVooHistorico" nillable="true" type="tns:salvaVooHistorico"/>

  <xs:element name="salvaVooHistoricoResponse" nillable="true" type="tns:salvaVooHistoricoResponse"/>

  <xs:element name="salvaVooHistoricos" nillable="true" type="tns:salvaVooHistoricos"/>

  <xs:element name="salvaVooHistoricosResponse" nillable="true" type="tns:salvaVooHistoricosResponse"/>

  <xs:complexType name="salvaContinentes">
    <xs:sequence>
      <xs:element name="continentes" type="tns:continente" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="continente">
    <xs:sequence>
      <xs:element name="continentenome" type="xs:string" minOccurs="0"/>
      <xs:element name="idcontinente" type="xs:int" minOccurs="0"/>
      <xs:element name="paisList" type="tns:pais" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element name="cidadeList" type="tns:cidade" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="idcontinente" type="tns:continente" minOccurs="0"/>
      <xs:element name="idpais" type="xs:int" minOccurs="0"/>
      <xs:element name="paisnome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cidade">
    <xs:sequence>
      <xs:element name="aeroportoList" type="tns:aeroporto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cidadefusohorario" type="xs:int"/>
      <xs:element name="cidadenome" type="xs:string" minOccurs="0"/>
      <xs:element name="idcidade" type="xs:int" minOccurs="0"/>
      <xs:element name="idpais" type="tns:pais" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aeroporto">
    <xs:sequence>
      <xs:element name="aeroportonome" type="xs:string" minOccurs="0"/>
      <xs:element name="idaeroporto" type="xs:string" minOccurs="0"/>
      <xs:element name="idcidade" type="tns:cidade" minOccurs="0"/>
      <xs:element name="slotList" type="tns:slot" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="slotList1" type="tns:slot" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="slot">
    <xs:sequence>
      <xs:element name="ciaaereasigla" type="tns:ciaaerea" minOccurs="0"/>
      <xs:element name="idaeroportodestino" type="tns:aeroporto" minOccurs="0"/>
      <xs:element name="idaeroportoorigem" type="tns:aeroporto" minOccurs="0"/>
      <xs:element name="iddiasemana" type="tns:diasemana" minOccurs="0"/>
      <xs:element name="idslot" type="xs:int" minOccurs="0"/>
      <xs:element name="slothorachegada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="slothorapartida" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="slotnumero" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ciaaerea">
    <xs:sequence>
      <xs:element name="ciaaereadescricao" type="xs:string" minOccurs="0"/>
      <xs:element name="ciaaerealogotipo" type="xs:string" minOccurs="0"/>
      <xs:element name="ciaaereasigla" type="xs:string" minOccurs="0"/>
      <xs:element name="slotList" type="tns:slot" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="diasemana">
    <xs:sequence>
      <xs:element name="diasemananome" type="xs:string" minOccurs="0"/>
      <xs:element name="iddiasemana" type="xs:int" minOccurs="0"/>
      <xs:element name="slotList" type="tns:slot" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaContinentesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCidade">
    <xs:sequence>
      <xs:element name="cidade" type="tns:cidade" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCidadeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCidades">
    <xs:sequence>
      <xs:element name="cidades" type="tns:cidade" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCidadesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCiaAerea">
    <xs:sequence>
      <xs:element name="ciaaerea" type="tns:ciaaerea" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCiaAereaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaPais">
    <xs:sequence>
      <xs:element name="pais" type="tns:pais" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaPaisResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaSlot">
    <xs:sequence>
      <xs:element name="slot" type="tns:slot" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaSlotResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaEscalas">
    <xs:sequence>
      <xs:element name="escalas" type="tns:escala" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="escala">
    <xs:sequence>
      <xs:element name="escalahorachegada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="escalahorapartida" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idaeroporto" type="xs:string" minOccurs="0"/>
      <xs:element name="idescala" type="xs:int" minOccurs="0"/>
      <xs:element name="idslot" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaEscalasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaPaises">
    <xs:sequence>
      <xs:element name="paises" type="tns:pais" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaPaisesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaContinente">
    <xs:sequence>
      <xs:element name="continente" type="tns:continente" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaContinenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaVooHistoricos">
    <xs:sequence>
      <xs:element name="voohistoricos" type="tns:voohistorico" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voohistorico">
    <xs:sequence>
      <xs:element name="idaeroportodestino" type="xs:string" minOccurs="0"/>
      <xs:element name="idaeroportoorigem" type="xs:string" minOccurs="0"/>
      <xs:element name="idslot" type="xs:int" minOccurs="0"/>
      <xs:element name="idvoo" type="xs:int" minOccurs="0"/>
      <xs:element name="voohorachegada" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="voohorapartida" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaVooHistoricosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaAeroportos">
    <xs:sequence>
      <xs:element name="aeroportos" type="tns:aeroporto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaAeroportosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaSlots">
    <xs:sequence>
      <xs:element name="slots" type="tns:slot" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaSlotsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaAeroporto">
    <xs:sequence>
      <xs:element name="aeroporto" type="tns:aeroporto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaAeroportoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaVooHistorico">
    <xs:sequence>
      <xs:element name="voohistorico" type="tns:voohistorico" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaVooHistoricoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCiaAereas">
    <xs:sequence>
      <xs:element name="ciaaereas" type="tns:ciaaerea" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaCiaAereasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaEscala">
    <xs:sequence>
      <xs:element name="escala" type="tns:escala" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salvaEscalaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

